.container h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 2rem 0;
}

.btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.btn button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: orange;
  border-radius: 5px;
  border: none;
}
